<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.perisic.luka.auth">

    <application>
        <activity android:name=".ui.register.RegisterActivity" android:noHistory="true"/>
        <activity android:name=".ui.login.LoginActivity" android:noHistory="true"/>
    </application>

</manifest>